li a {
    text-decoration: none;
    color: aqua;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

form input {
background: silver;
   border: 1px solid #393939;
   border-radius: 10px;
   color: #101010;
   font-size: 25px;
   padding: 5px;
}

form button {
    font-size: 25px;
    padding: 5px;
    background-color: #00ffff;
    border: none;
    border-radius: 10px;
}